@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CryptoMort</title>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet' >

     
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />

    
    <link rel="stylesheet" href="~/css/general.css" asp-append-version="true" />
    
   
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
 
    <link rel="stylesheet" href="~/css/page-content-container.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/css/coins-table.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/CryptoStockMVC.styles.css" asp-append-version="true" />
 
</head>
<body>
    <header>
        <div class="nav-bar ">

             <div class="start">
              <img class="mort-img" src="https://www.shareicon.net/data/2016/05/16/766013_zoo_512x512.png">
               <p class="label">Crypto-Mort</p>
             </div>

             <div class="middle">              
                <form asp-controller="Home" asp-action="Index" method="get" class="search-form"> 
                 <div class="search-bar-container">
                    <input class="search-bar" type="text" placeholder="Search" name="search">
                    <button class="search-button" type="submit">
                      <i class='bx bx-search'></i>
                     </button>  
                      </div> 
                 </form>               
                   
            </div>          

            <div class="end">
            <div class="chooselang-container" style="display: flex;">
              <p class="language-name">English</p>
              <i class='bx bxs-down-arrow'></i>
            </div>
            <div class="choosecurrency-container" style="display: flex;">
              <i class='bx bxs-dollar-circle'></i>
              <p class="currency-name">USD</p>
              <i class='bx bxs-down-arrow'></i>
            </div>
            <div class="nothification-dropdown" data-dropdown style="display: flex;">             
              <button class="bx bx-bell" data-dropdown-button></button>
              <div class="dropdown-menu">
                <div class="dc-n">Mort is hungry!</div>                
                </div>
              </div>

            <div class="account-dropdown" data-dropdown style="display: flex;">
               @if( SignInManager.IsSignedIn(User))
                    {
                        <button class="bx bx-user" data-dropdown-button></button>
                    }
                    else
                    {
                         <a asp-controller="Home" asp-action="Login" method ="post"><button class="bx bxs-log-in" login-button></button></a>
                    }                  
              <div class="dropdown-menu">
                <div class="dc-a">                  
                  <a asp-controller="User" asp-action="Index" class="bx bxs-user-account"><span>@(User.Identity.Name)
                  </span></a>
                </div>
                <div class="dc-a">                  
                  <a href"#"  class="bx bxs-cog"><span>Settings</span></a>
                </div>  
                <div class="dc-a">                  
                  <a asp-controller="Home" asp-action="Logout" method ="get"  class="bx bxs-log-out"><span>Log out</span></a>                
              </div>               
                </div>
              </div>
            </div>            
          </div>
         </div>

          <div class="side-bar">
          <a asp-controller="Home" asp-action="Index" >
            <div class="sidebar-link"> <img src="/images/mango.png">
                <p>Coins</p>
            </div></a>
          <div class="sidebar-link"><img src="/images/banana.png">
            <p>Exchange</p>
        </div>
          <div class="sidebar-link"><img src="/images/coconut.png">
            <p>Brokers</p>
          </div>         
          <div class="sidebar-link">
            <img src="/images/avocado.png">
            <p>Tools</p>
            </div>               
         </div>   



           </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="/js/crypto-mort.js"</script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>   
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
