.nav-bar {
    display: flex;
    flex-direction: row;
    height: 49px;
    justify-content: center;
    background-color: #232323;
    border: 0px solid rgb(73, 70, 70);
    border-width: 0px 0px 1px 0px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1;
}

.start {
    flex: 1;
    width: 150px;
    display: flex;
    align-items: center;
    padding-left: 11px;
}

.mort-img {
    width: 40px;
    height: 40px;
}

.label {
    color: bisque;
    font-size: 20px;
}

.middle {
    display: flex;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 300px;
    align-items: center;
    justify-content: center;
}

.search-bar-container {
    display: flex;
    flex: 1;
    border: 1px solid rgb(73, 70, 70);
    border-radius: 20px;
    transition: 0.5s;
}

    .search-bar-container:hover {
        border: 1px solid transparent;
    }

.search-bar {
    flex: 1;
    height: 25px;
    background-color: rgb(34, 33, 33);
    border: 0.001px solid transparent;
    border-radius: 20px 0px 0px 20px;
    padding-left: 10px;
    color: rgb(162, 152, 152);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif, Times, serif;
    font-size: 18px;
}

    .search-bar::placeholder {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif, Times, serif;
        font-size: 18px;
        color: rgba(162, 152, 152, 0.845);
        padding-left: 2px;
    }

    .search-bar:focus {
        outline: none;
    }

        .search-bar:focus::placeholder {
            color: transparent;
        }

    .search-bar:hover {
        background-color: rgb(49, 47, 47);
        transition: 0.3s;
    }

.search-button {
    width: 60px;
    height: 28px;
    margin-left: -2px;
    background-color: rgb(73, 70, 70);
    border: 0px solid rgb(73, 70, 70);
    border-radius: 0px 20px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .search-button:hover {
        background-color: rgb(58, 55, 55);
        transition: 0.3s;
    }

    .search-button:active {
        background-color: rgb(33, 31, 31);
        transition: 0.2s;
    }

.end {
    display: flex;
    flex: 1;
    width: 200px;
    justify-content: end;
    align-items: center;
}

    .end div {
        align-items: center;
    }

.bx-search {
    font-size: 22px;
}

.bx-bell, .bx-user {
    font-size: 20px;
    color: rgb(165, 172, 172);
}


.nav-bar .bxs-down-arrow {
    font-size: 10px;
    margin-right: 20px;
    margin-left: 2px;
    color: rgb(165, 172, 172);
}

.currency-name {
    font-size: 15px;
    color: rgb(165, 172, 172);
}

.bxs-dollar-circle {
    color: rgb(165, 172, 172);
    margin-right: 2px;
    font-size: 17px
}

.language-name {
    font-size: 15px;
    color: rgb(165, 172, 172);
}

.nothification-dropdown, .chooselang-container, .account-dropdown, .choosecurrency-container {
    margin-left: 20px;
}

.search-form {
    display: flex;
}

.account-dropdown {
    display: inline-block;
    position: relative;
    align-items: center;
    margin-right: 25px;
}


[data-dropdown-button], [login-button] {
    background: none;
    border: none;
    text-decoration: none;
    color: rgb(165, 172, 172);
    font-size: 19px;
    cursor: pointer;
    padding: 0;
}

[login-button]:hover {
    color: rgb(208, 213, 213);
}


[data-dropdown].active > [data-dropdown-button], [data-dropdown-button]:hover {
        color: rgb(208, 213, 213);
    }


[data-dropdown] {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    right: -18px;
    top: calc(100% + .25rem);
    background-color: rgb(73, 70, 70);
    padding: 10px 5px 0px 0px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

[data-dropdown].active > [data-dropdown-button] + .dropdown-menu {
    opacity: 0.8;
    transform: translateY(0);
    pointer-events: auto;
}



.bxs-cog, .bxs-user-account, .bxs-log-out{
    color: aliceblue;
    font-size: 14px;
    margin-left: 5px;
    text-decoration: none;
}

    .bxs-cog > span, .bxs-user-account > span, .bxs-log-out > span {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif, Times, serif;
        font-size: 15px;
        margin-left:3px;
    }

.dc-a {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
}

    .dc-a > a:hover {
        color: rgb(189, 182, 99);
        transition: 150ms ease-in-out;
    }

.dc-n {
    display: flex;
    color: aliceblue;
    font-size: 16px;
    padding: 1px 5px 10px 10px;
    align-content: center;
    justify-content: center;
}